.stories-bar {
  display: flex;
  gap: 12px;
  padding: 12px;
  overflow-x: auto;
  border-bottom: 1px solid #ddd;
}

.story-thumbnail {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
  border: 2px solid #ff4d4f; /* placeholder ring */
}

.story-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* //////////////// */

/* addStoryButon.jsx */
.add-story {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 3px dashed black ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  cursor: pointer;
}

.add-story-plus {
  font-size: 32px;
  font-weight: bold;
  color: #555;
}

